# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store

###BACKEND
# dependencies
# backend
/backend/venv
/backend/__pycache__
/backend/migrations
/backend/app.db
/backend/app/__pycache__
/backend/app/main/__pycache__/
/backend/app/authentication/__pycache__/

###FRONTEND

# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*